@font-face {
  font-family: Gilroy;
  src: url(/assets/bundles/77468d585e405eb58af3d5e14b37bceb.woff2) format("woff2"), url(/assets/bundles/9d3b40656ea786c832f4a36b48e23e5a.eot) format("embedded-opentype"), url(/assets/bundles/c9f6654960c6b8b75afd5decd9e261c5.woff) format("woff"), url(/assets/bundles/ad30c1f2e12ee6ca68a0afde86b84480.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Gilroy;
  src: url(/assets/bundles/d53d58e5783fe764409898b24a15d31b.woff2) format("woff2"), url(/assets/bundles/de3f5d7dff91a5fa889d45775f435158.eot) format("embedded-opentype"), url(/assets/bundles/62be011062d504d208d77e8b76f5eff3.woff) format("woff"), url(/assets/bundles/b591ae329529b29c935e8ae5d503c243.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  background-color: #F7F7F7;
  color: #412EA0;
  font-family: Gilroy;
  font-weight: 500; }
  body img {
    max-width: 100%; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      color: inherit; }
  @media (min-width: 1150px) {
    body .container {
      max-width: 1088px; } }
  body .header__row {
    justify-content: space-between;
    margin-bottom: 34px;
    padding-top: 28px; }
    body .header__row .header__logo {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 0;
      display: inline-block; }
    body .header__row .header__right {
      display: flex; }
      body .header__row .header__right .header__trust {
        font-size: 14px;
        line-height: 17px;
        border: 1px solid #E2DDDD;
        border-radius: 5px;
        padding: 8.5px 10px;
        margin-left: 32px;
        display: inline-block; }
  body .window {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 36px 0;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    body .window .form__wrapper-img {
      display: flex;
      margin-right: 64px;
      margin-left: 40px; }
      body .window .form__wrapper-img .form__attached-img {
        max-width: 50%; }
      body .window .form__wrapper-img .form__top {
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding: 0 40px 22px; }
        body .window .form__wrapper-img .form__top .textarea {
          color: #000;
          font-size: 18px;
          line-height: 22px;
          border: 0;
          border-left: 1px solid #E2DDDD;
          padding: 15px;
          height: 50px;
          width: 90%;
          outline: none;
          position: relative;
          transition: .3s; }
          body .window .form__wrapper-img .form__top .textarea::placeholder {
            color: #E2DDDD; }
          body .window .form__wrapper-img .form__top .textarea:focus {
            border-left: 0; }
        body .window .form__wrapper-img .form__top .form__filename {
          background-color: #f7f7f7;
          border: 0;
          border-radius: 10px;
          padding: 14.25px 17.5px;
          color: #7051FF;
          font-size: 14px;
          line-height: 16px;
          margin-top: 36px; }
          body .window .form__wrapper-img .form__top .form__filename-icon {
            margin-right: 8px; }
            body .window .form__wrapper-img .form__top .form__filename-icon img {
              width: 14px;
              margin-top: -2px; }
        body .window .form__wrapper-img .form__top .button__open-text {
          background-color: transparent;
          border: 0;
          padding: 0;
          margin-bottom: auto;
          margin-top: 12px;
          outline: none; }
    body .window .form__bottom {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #F7F7F7;
      padding: 22px 40px 0; }
      body .window .form__bottom-left {
        display: flex; }
        body .window .form__bottom-left .button__attachment {
          background-color: transparent;
          border: 1px solid #E2DDDD;
          border-radius: 10px;
          padding: 12.25px 17px;
          min-width: 59px;
          margin-right: 16px; }
          body .window .form__bottom-left .button__attachment:last-child {
            margin-right: 0; }
      body .window .form__bottom-right {
        display: flex; }
        body .window .form__bottom-right .button__timer {
          background-color: transparent;
          border: 1px solid #E2DDDD;
          border-radius: 10px;
          padding: 12.25px 22px 12.25px 17px;
          margin-right: 16px; }
          body .window .form__bottom-right .button__timer-icon {
            display: inline-block;
            border-right: 1px solid #E2DDDD;
            padding-right: 14px;
            margin-right: 19px; }
            body .window .form__bottom-right .button__timer-icon img {
              margin-top: -1px; }
          body .window .form__bottom-right .button__timer-text {
            color: #412EA0;
            font-size: 16px;
            line-height: 19px;
            margin-right: 22px; }
        body .window .form__bottom-right .button__password {
          color: #E2DDDD;
          font-size: 16px;
          line-height: 19px;
          text-align: left;
          background-color: transparent;
          border: 1px solid #E2DDDD;
          border-radius: 10px;
          padding: 12.25px 17px;
          width: 273px;
          max-width: 100%; }
          body .window .form__bottom-right .button__password-icon {
            margin-right: 18px; }
            body .window .form__bottom-right .button__password-icon img {
              margin-top: -5px; }
    body .window .window__wrapper {
      padding: 10px 40px; }
      body .window .window__wrapper .link-to-message {
        font-size: 18px;
        line-height: 22px;
        color: #7051FF;
        border: 0;
        background-color: transparent;
        outline: none;
        display: block;
        width: fit-content;
        max-width: 100%;
        padding: 0; }
        body .window .window__wrapper .link-to-message__img img {
          width: 24px;
          margin-right: 18px;
          margin-top: -2px; }
      body .window .window__wrapper .qr {
        display: block;
        width: 250px;
        margin-top: 42px;
        margin-bottom: 44px; }
    body .window .form__socials-wrapper {
      display: flex;
      border-top: 1px solid #F7F7F7;
      padding: 22px 40px 0; }
      body .window .form__socials-wrapper .button__socials {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 1px solid #E2DDDD;
        border-radius: 10px;
        padding: 10px;
        width: 53px;
        height: 53px;
        margin-right: 12px; }
        body .window .form__socials-wrapper .button__socials:last-child {
          margin-right: 0; }
  body .button__submit {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background-color: #7051FF;
    border-radius: 10px;
    border: 0;
    padding: 18px 39px;
    margin-top: 36px; }
  body .footer {
    background-color: #ededed;
    padding: 48px 0;
    margin-top: 74px; }
    body .footer__col {
      padding: 20px 0; }
      body .footer__col.footer__col_last {
        padding-left: 50px; }
    body .footer__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: #8E8E8E;
      text-transform: uppercase;
      margin-bottom: 34px; }
    body .footer__title-copyright {
      font-size: 22px;
      line-height: 26px;
      color: #8E8E8E;
      margin-bottom: 22px; }
    body .footer__link {
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 18px;
      display: block;
      width: fit-content;
      transition: .3s; }
      body .footer__link:hover {
        text-decoration: none; }
      body .footer__link:last-child {
        margin-bottom: 0; }
    body .footer__copyright {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 6px; }
    body .footer__col-middle {
      padding: 20px 50px;
      border-left: 1px solid #E2DDDD;
      border-right: 1px solid #E2DDDD; }
      body .footer__col-middle .footer__title {
        margin-left: 22px; }
      body .footer__col-middle .footer__copy {
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        text-align: left;
        border: 1px solid #ededed;
        border-radius: 10px;
        padding: 16px 26px;
        background-color: transparent;
        display: inline-flex;
        transition: .3s; }
        body .footer__col-middle .footer__copy:hover {
          border: 1px solid #E2DDDD; }
        body .footer__col-middle .footer__copy-icon {
          margin-right: 18px; }
          body .footer__col-middle .footer__copy-icon img {
            margin-bottom: -21px; }

