$purple : #412EA0;
$brightPurple : #7051FF;
$grey : #E2DDDD;

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), 
  url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'), 
  url('../fonts/Gilroy-Medium.woff') format('woff'), 
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'), 
  url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'), 
  url('../fonts/Gilroy-Bold.woff') format('woff'), 
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #F7F7F7;
  color: $purple;
  font-family: Gilroy;
  font-weight: 500;
  img {
    max-width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
  .container {
    @media (min-width: 1150px) {
      max-width: 1088px;
    }
    @media (max-width: 991px) {
      position: relative;
    }
    &_main {
      padding: 0;
      padding-bottom: 70px;
    }
  }

  // mobile menu
  nav {
    padding-top: 52px;
    margin-bottom: 32px;
    .header__logo {
      @media (max-width: 991px) {
        font-size: 22px;
        line-height: 26px;
        // margin-left: 24px;
      }
      @media (max-width: 575px) {
        margin-left: 9px; 
      }
  }
  .container-ham {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 40%;
    left: 0;
    margin: 0 auto;
    z-index: 6;
    // p {
    //   font-size: 20px;
    // }
    // a {
    //   // font-weight: 600;
    //   // display: inline-block;
    //   // position: relative;
    //   // text-align: center;
    //   // color: #3c3c3c;
    //   // text-decoration: none;
    //   // font-size: 1.625rem;
    //   // overflow: hidden;
    //   // top: 5px;
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     background: #3c3c3c;
    //     height: 2px;
    //     width: 0%;
    //     -webkit-transform: translateX(-50%);
    //             transform: translateX(-50%);
    //     left: 50%;
    //     bottom: 0;
    //     -webkit-transition: .35s ease;
    //     transition: .35s ease;
    //   }
    //   &:hover:after, &:focus:after, &:active:after {
    //     width: 100%;
    //   }
    // }
    .overlay {
      position: fixed;
      background: #EDEDED;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        z-index: 3;
        overflow-y: hidden !important;
        li {
          animation: fadeInRight .5s ease forwards;
          animation-delay: .35s;
        }
      }
      .overlay-menu {
        position: relative;
        height: 80%;
        top: 63%;
        transform: translateY(-50%);
        font-size: 50px;
        text-align: center;
        @media (max-width: 575px) {
          top: 57%;
        }
        @media (max-width: 413px) {
          top: 48%;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          display: inline-block;
          position: relative;
          height: 100%;
          li {
            display: block;
            height: 9%;
            min-height: 50px;
            position: relative;
            opacity: 0;
            a {
              display: block;
              position: relative;
              color: #FFF;
              text-decoration: none;
              overflow: hidden;
              padding-bottom: 15px;
              :before {
                content: '';
                width: 0;
                height: 5px;
                border-radius: 4px;
                background-color: #fc5e31;
                transform-origin: left;
                position: absolute;
                bottom: 3px;
                left: 50%;
                transform: translateX(-50%);
                transition: .3s;
              }
              &.active:before {
                width: 49px;
              }
              &:hover:after, &:focus:after, &:active:after {
                width: 100%;
              }
              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0%;
                transform: translateX(-50%);
                height: 1px;
                background: #FFF;
                transition: .35s;
              }
            }
          }
        }
      }
      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
      }
    }
  }

  .button_container {
    position: absolute;
    top: 56px;
    right: 0px;
    height: 20px;
    width: 25px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity .25s ease;
    @media (max-width: 575px) {
      right: 24px;
    }
    &:hover {
      opacity: 1;
    }
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: -14px;
    //   left: -11px;
    //   width: 46px;
    //   height: 46px;
    //   box-shadow: 0 4px 19px rgba(226, 226, 226, 0.4);
    //   background-color: #1C2129;
    //   border-radius: 50%;
    //   background-color: #202020;
    //   opacity: .9;
    // }
    &.active-btn .top {
      transform: translateY(7px) translateX(0) rotate(-45deg);
    }
    &.active-btn .middle {
      opacity: 0;
    }
    &.active-btn .bottom {
      transform: translateY(-9px) translateX(0) rotate(45deg);
      width: 100%;
    }
    span {
      background: $purple;
      border: none;
      height: 3px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer;
      &:nth-of-type(2) {
        top: 8px;
      }
      &:nth-of-type(3) {
        top: 16px;
        right: 0;
        left: auto;
      }
    }
  }
}

  .header__row {
    justify-content: space-between;
    margin-bottom: 34px;
    padding-top: 28px;
    margin-left: 0;
    margin-right: 0;
    .header {
      &__logo {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0;
        display: inline-block;
      }
      &__right {
        display: flex;
        .header__trust {
          font-size: 14px;
          line-height: 17px;
          border: 1px solid $grey;
          border-radius: 5px;
          padding: 8.5px 10px;
          margin-left: 32px;
          display: inline-block;
        }
      }
    } 
  }
  .window {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 36px 0;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .form {
      &__wrapper-img {
        margin-right: 64px;
        margin-left: 40px;
        @media (min-width: 992px) {
          display: flex;
        }
        @media (max-width: 991px) {
          margin-left: 24px;
          margin-right: 24px;
        }
        .form__attached-img {
          max-width: 50%;
          @media (max-width: 575px) {
            width: 100%;
            max-width: 100%;
          }
        }
        .form__top {
          display: flex;
          justify-content: space-between;
          flex: 1;
          padding: 0 40px 22px;
          @media (max-width: 991px) {
            padding: 32px 0 22px;
          }
          .textarea {
            color: #000;
            font-size: 18px;
            line-height: 22px;
            border: 0;
            border-left: 1px solid $grey;
            padding: 15px;
            height: 50px;
            width: 90%;
            outline: none;
            position: relative;
            transition: .3s;
            &::placeholder {
              color: $grey;
            }
            &:focus {
              border-left: 0;
            }
          }
          .form__filename {
            background-color: #f7f7f7;
            border: 0;
            border-radius: 10px;
            padding: 14.25px 17.5px;
            color: $brightPurple;
            font-size: 14px;
            line-height: 16px;
            margin-top: 36px;
            &-icon {
              margin-right: 8px;
              img {
                width: 14px;
                margin-top: -2px;
              }
            }
          }
          .button__open-text {
            background-color: transparent;
            border: 0;
            padding: 0;
            margin-bottom: auto;
            margin-top: 12px;
            outline: none;
            @media (max-width: 991px) {
              display: none;
            }
          }
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #F7F7F7;
        padding: 22px 40px 0;
        @media (max-width: 991px) {
          padding: 22px 24px 0;
        }
        &-left {
          display: flex;
          width: 100%;
          .button__attachment {
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 12.25px 17px;
            min-width: 59px;
            margin-right: 16px;
            min-height: 53px;
            @media (max-width: 370px) {
              margin-right: 7px;
            }
            &:nth-child(2) {
              @media (max-width: 991px) {
                margin-right: auto;
              }
            }
            &:last-child {
              margin-right: 0;
            }
            &_mobile {
              @media (min-width: 992px) {
                display: none;
              }
            }
          }
        }
        &-right {
          display: flex;
          &-mobile {
            @media (max-width: 991px) {
              margin-left: auto;
            }
          }
          .ttl-selector {
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 12.25px 22px 12.25px 17px;
            margin-right: 16px;
            width: max-content;
            &-icon {
              display: inline-block;
              border-right: 1px solid $grey;
              padding-right: 14px;
              margin-right: 19px;
              // height: 26px;
              img {
                margin-top: -1px;
              }
            }
            &-text {
              color: $purple;
              font-size: 16px;
              line-height: 19px;
              margin-right: 22px;
            }
          }
          .button__password {
            color: $grey;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 12.25px 17px;
            width: 273px;
            max-width: 100%;
            &-icon {
              margin-right: 18px;
              img {
                margin-top: -5px;
              }
            }
          }
        }
      }
    }
    // page qr-code
    .window__wrapper {
      padding: 10px 40px;
      @media (max-width: 991px) {
        padding: 0 24px 10px;
      }
      .link-to-message {
        font-size: 18px;
        line-height: 22px;
        color: $brightPurple;
        border: 0;
        background-color: transparent;
        outline: none;
        display: block;
        width: fit-content;
        max-width: 100%;
        padding: 0;
        margin-bottom: 42px;

        @media (min-width: 576px) and (max-width: 991px) {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @media (max-width: 575px) {
          display: inline-flex;
          width: 100%;
          word-break: break-word;
          text-align: left;
        }
        &__img {
          @media (max-width: 575px) {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            order: 2;
            margin-left: 16px;
          }
          img {
            width: 24px;
            margin-right: 18px;
            margin-top: -2px;
          }
        }
      }
      .qr {
        display: block;
        width: 250px;
        margin-top: 42px;
        margin-bottom: 44px;
      }
    }
    .form__socials-wrapper {
      display: flex;
      border-top: 1px solid #F7F7F7;
      padding: 22px 40px 0;
      @media (max-width: 991px) {
        justify-content: center;
        padding: 22px 24px 0;
      }
      .button__socials {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 10px;
        padding: 10px;
        width: 53px;
        height: 53px;
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .button__submit {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background-color: $brightPurple;
    border-radius: 10px;
    border: 0;
    padding: 18px 39px;
    margin-top: 36px;
    @media (max-width: 575px) {
      margin-left: 24px;
    }
    @media (max-width: 479px) {
      width: calc(100% - 48px);
      max-width: calc(100% - 48px);
    }
  }

  /* modal */
  .modal-dialog {
    max-width: 889px;
    /* min-height: 533px; */
    margin: 0 auto;
    transform: translate(0,0)!important;
    &-centered {
      min-height: calc(100% - (.5rem * 2));
    }
    .modal-content {
      min-height: 319px;
      border: 0;
      border-radius: 20px;
      .modal-body {
        padding: 92px 48px;
        box-shadow: 0px 0px 40px rgba(18, 28, 51, 0.05);
        border-radius: 20px;
        position: relative;
        @media (max-width: 991) {
          margin: 0 32px;
        }
        @media (max-width: 576px) {
          padding: 80px 32px;
        }
        .modal {
          &__text {
            color: #000000;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 50px;
            text-align: center;
          }
          &__wrapper-button {
            display: flex;
            justify-content: center;
            @media (max-width: 402px) {
              flex-wrap: wrap;
            }
            .modal__button {
              border-radius: 10px;
              padding: 18px 20px;
              font-size: 18px;
              line-height: 22px;
              display: block;
              width: 197px;
              max-width: 100%;
              text-align: center;
              transition: .3s;
              &:hover {
                text-decoration: none;
              }
              &_purple {
                background-color: $brightPurple;
                color: #fff;
                border: 1px solid $brightPurple;
                margin-right: 24px;
                @media (max-width: 402px) {
                  margin-right: 0;
                  margin-bottom: 16px;
                }
                &:hover {
                  background-color: #fff;
                  color: $brightPurple;
                  border: 1px solid $brightPurple;
                }
              }
              &_white {
                background-color: #fff;
                color: $purple;
                border: 1px solid $purple;
                &:hover {
                  color: #fff;
                  background-color: $purple;
                  border: 1px solid $purple;
                }
              }
            }
          }
          &__close {
            background-color: #fff;
            padding: 0;
            border: 0;
            position: absolute;
            top: 29px;
            right: 29px;
            &:focus {
              outline: none;
            }
          }

        }

      }
    }
  }
  .modal-backdrop {
    background-color: #fff;
    &.show {
      opacity: .9;
    }
  }

  .footer {
    background-color: #ededed;
    padding: 48px 0;
    margin-top: 74px;
    @media (max-width: 991px) {
      display: none;
    }
    &__col {
      padding: 20px 0;
      &.footer__col_last {
        padding-left: 50px;
      }
    }
    &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: #8E8E8E;
      text-transform: uppercase;
      margin-bottom: 34px;
      @media (max-width: 991px) {
        text-align: left;
      }
    }
    &__title-copyright {
      font-size: 22px;
      line-height: 26px;
      color: #8E8E8E;
      margin-bottom: 22px;
      @media (max-width: 991px) {
        text-align: left;
      }
    }
    &__link {
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 18px;
      display: block;
      width: fit-content;
      transition: .3s;
      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__copyright {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 6px;
      @media (max-width: 991px) {
        text-align: left;
      }
    }
    &__col-middle {
      padding: 20px 50px;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      @media (max-width: 991px) {
        padding: 32px 0px;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        margin-top: 12px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
      }
      .footer__title {
        margin-left: 22px;
        @media (max-width: 991px) {
          margin-left: 0;
        }
      }
      .footer__copy {
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        text-align: left;
        border: 1px solid #ededed;
        border-radius: 10px;
        padding: 16px 26px;
        background-color: transparent;
        display: inline-flex;
        transition: .3s;
        outline: none!important;
        @media (max-width: 991px) {
          padding: 0;
          border: 0!important;
        }
        &:hover {
          border: 1px solid $grey;
        }
        &-icon {
          margin-right: 18px;
          img {
            margin-bottom: -21px;
          }
        }
      }
    }
  }
}
