<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__col col-md-3">
        <a class="footer__link" href="https://github.com/wipenote" target="_blank">Github</a>
        <a class="footer__link" href="/about-us">About us</a>
      </div>
      <div class="footer__col-middle col-md-6">
        <h3 class="footer__title">Donate (btc)</h3>
        <button class="footer__copy" data-clipboard-demo=""  data-clipboard-action="copy" data-clipboard-text="13RLwNNroNqzayQM7gJ6F6b3zskd8mvdUU">
          <span class="footer__copy-icon">
            <img src="/assets/images/copy.svg" alt="copy">
          </span>
          13RLwNNroNqzayQM7gJ6F<br/>6b3zskd8mvdUU
        </button>

      </div>
      <div class="footer__col footer__col_last col-md-3">
        <h3 class="footer__title-copyright">WipeNote</h3>
        <p class="footer__copyright">© 2020 WipeNote</p>
        <a class="footer__link" href="mailto:info@wipenote.io">
          info@wipenote.io
        </a>
      </div>
    </div>
  </div>
</footer>
