<header>
  <div class="container">
    <div class="header__row row">
      <!-- <img class="header__logo" src="/assets/images/logo.svg" alt="Logo" class="logo"> -->
      <h1 class="header__logo logo">WipeNote</h1>
      <div class="header__right">
        <img class="header__logo-github" src="/assets/images/github.svg" alt="github">
        <a class="header__trust" href="#">Why can you trust us?</a>
      </div>
    </div>
  </div>
</header>
