$purple : #412EA0;
$brightPurple : #7051FF;
$grey : #E2DDDD;

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #F7F7F7;
  color: $purple;
  font-family: Gilroy;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
  .container {
    margin-bottom: 74px;
    @media (min-width: 1150px) {
      max-width: 1088px;
    }
  }
  .header__row {
    justify-content: space-between;
    margin-bottom: 34px;
    padding-top: 28px;
    .header {
      &__logo {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0;
        display: inline-block;
      }
      &__right {
        display: flex;
        .header__trust {
          font-size: 14px;
          line-height: 17px;
          border: 1px solid $grey;
          border-radius: 5px;
          padding: 8.5px 10px;
          margin-left: 32px;
          display: inline-block;
        }
      }
    }
  }
  .window {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 36px 0;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .form {
      &__wrapper-img {
        display: flex;
        //margin-right: 64px;
        //margin-left: 40px;
        .form__attached-img {
          max-width: 50%;
        }
        .form__top {
          display: flex;
          justify-content: space-between;
          flex: 1;
          padding: 0 40px 22px;
          .textarea {
            color: #000;
            font-size: 18px;
            line-height: 22px;
            border: 0;
            border-left: 1px solid $grey;
            padding: 15px;
            height: 50px;
            width: 90%;
            // resize: none;
            outline: none;
            position: relative;
            transition: .3s;
            &::placeholder {
              color: $grey;
            }
            &:focus {
              border-left: 0;
            }
            // &::before {
            //   content: '';
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   width: 1px;
            //   height: 50px;
            //   background-color: $grey;
            // }
          }
          .form__filename {
            background-color: #f7f7f7;
            border: 0;
            border-radius: 10px;
            padding: 14.25px 17.5px;
            color: $brightPurple;
            font-size: 14px;
            line-height: 16px;
            margin-top: 36px;
            &-icon {
              margin-right: 8px;
              img {
                width: 14px;
                margin-top: -2px;
              }
            }
          }
          .button__open-text {
            background-color: transparent;
            border: 0;
            padding: 0;
            margin-bottom: auto;
            margin-top: 12px;
            outline: none;
          }
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #F7F7F7;
        padding: 22px 40px 0;
        &-left {
          display: flex;
          .button__attachment {
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 12.25px 17px;
            min-width: 59px;
            margin-right: 16px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        &-right {
          display: flex;
          .button__timer {
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 12.25px 22px 12.25px 17px;
            margin-right: 16px;
            &-icon {
              display: inline-block;
              border-right: 1px solid $grey;
              padding-right: 14px;
              margin-right: 19px;
              // height: 26px;
              img {
                margin-top: -1px;
              }
            }
            &-text {
              color: $purple;
              font-size: 16px;
              line-height: 19px;
              margin-right: 22px;
            }
          }
          .button__password {
            color: $grey;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 12.25px 17px;
            width: 273px;
            max-width: 100%;
            &-icon {
              margin-right: 18px;
              img {
                margin-top: -5px;
              }
            }
          }
        }
      }
    }
    // page qr-code
    .window__wrapper {
      padding: 10px 40px;
      .link-to-message {
        font-size: 18px;
        line-height: 22px;
        color: $brightPurple;
        border: 0;
        background-color: transparent;
        outline: none;
        display: block;
        width: fit-content;
        max-width: 100%;
        padding: 0;
        &__img img {
          width: 24px;
          margin-right: 18px;
          margin-top: -2px;
        }
      }
      .qr {
        display: block;
        width: 250px;
        margin-top: 42px;
        margin-bottom: 44px;
      }
    }
    .form__socials-wrapper {
      display: flex;
      // justify-content: space-between;
      border-top: 1px solid #F7F7F7;
      padding: 22px 40px 0;
      // display: flex;
      .button__socials {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 10px;
        padding: 10px;
        width: 53px;
        height: 53px;
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .button__submit {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background-color: $brightPurple;
    border-radius: 10px;
    border: 0;
    padding: 18px 39px;
    margin-top: 36px;
  }
  .footer {
    background-color: #ededed;
    padding: 48px 0;
    margin-top: auto;

    &__col {
      padding: 20px 0;
      &.footer__col_last {
        padding-left: 50px;
      }
    }
    &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: #8E8E8E;
      text-transform: uppercase;
      margin-bottom: 34px;
    }
    &__title-copyright {
      font-size: 22px;
      line-height: 26px;
      color: #8E8E8E;
      margin-bottom: 22px;
    }
    &__link {
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 18px;
      display: block;
      width: fit-content;
      transition: .3s;
      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__copyright {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 6px;
    }
    &__col-middle {
      padding: 20px 50px;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      .footer__title {
        margin-left: 22px;
      }
      .footer__copy {
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        text-align: left;
        border: 1px solid #ededed;
        border-radius: 10px;
        padding: 16px 26px;
        background-color: transparent;
        display: inline-flex;
        transition: .3s;
        &:hover {
          border: 1px solid $grey;
        }
        &-icon {
          margin-right: 18px;
          img {
            margin-bottom: -21px;
          }
        }
      }
    }
  }
}
