@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.eot") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #F7F7F7;
  color: #412EA0;
  font-family: Gilroy;
  font-weight: 500;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body img {
  max-width: 100%;
}

body a {
  color: inherit;
  text-decoration: none;
}

body a:hover {
  color: inherit;
}

body .container {
  margin-bottom: 74px;
}

@media (min-width: 1150px) {
  body .container {
    max-width: 1088px;
  }
}

@media (max-width: 991px) {
  body .container {
    position: relative;
  }
}

body nav {
  padding-top: 52px;
  margin-bottom: 32px;
}

@media (max-width: 991px) {
  body nav .header__logo {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 575px) {
  body nav .header__logo {
    margin-left: 9px;
  }
}

body nav .container-ham {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  z-index: 6;
}

body nav .container-ham .overlay {
  position: fixed;
  background: #EDEDED;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

body nav .container-ham .overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 3;
  overflow-y: hidden !important;
}

body nav .container-ham .overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

body nav .container-ham .overlay .overlay-menu {
  position: relative;
  height: 80%;
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  text-align: center;
}

@media (max-width: 575px) {
  body nav .container-ham .overlay .overlay-menu {
    top: 50%;
  }
}

@media (max-width: 413px) {
  body nav .container-ham .overlay .overlay-menu {
    top: 48%;
  }
}

body nav .container-ham .overlay .overlay-menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

body nav .container-ham .overlay .overlay-menu ul li {
  display: block;
  height: 9%;
  min-height: 50px;
  position: relative;
  opacity: 0;
}

body nav .container-ham .overlay .overlay-menu ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 15px;
}

body nav .container-ham .overlay .overlay-menu ul li a :before {
  content: '';
  width: 0;
  height: 5px;
  border-radius: 4px;
  background-color: #fc5e31;
  -webkit-transform-origin: left;
          transform-origin: left;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}

body nav .container-ham .overlay .overlay-menu ul li a.active:before {
  width: 49px;
}

body nav .container-ham .overlay .overlay-menu ul li a:hover:after, body nav .container-ham .overlay .overlay-menu ul li a:focus:after, body nav .container-ham .overlay .overlay-menu ul li a:active:after {
  width: 100%;
}

body nav .container-ham .overlay .overlay-menu ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

body nav .button_container {
  position: absolute;
  top: 56px;
  right: 15px;
  height: 20px;
  width: 25px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

@media (max-width: 575px) {
  body nav .button_container {
    right: 24px;
  }
}

body nav .button_container:hover {
  opacity: 1;
}

body nav .button_container.active-btn .top {
  -webkit-transform: translateY(7px) translateX(0) rotate(-45deg);
          transform: translateY(7px) translateX(0) rotate(-45deg);
}

body nav .button_container.active-btn .middle {
  opacity: 0;
}

body nav .button_container.active-btn .bottom {
  -webkit-transform: translateY(-9px) translateX(0) rotate(45deg);
          transform: translateY(-9px) translateX(0) rotate(45deg);
  width: 100%;
}

body nav .button_container span {
  background: #412EA0;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

body nav .button_container span:nth-of-type(2) {
  top: 8px;
}

body nav .button_container span:nth-of-type(3) {
  top: 16px;
  right: 0;
  left: auto;
}

body .header__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
  padding-top: 28px;
  margin-left: 0;
  margin-right: 0;
}

body .header__row .header__logo {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0;
  display: inline-block;
}

body .header__row .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

body .header__row .header__right .header__trust {
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #E2DDDD;
  border-radius: 5px;
  padding: 8.5px 10px;
  margin-left: 32px;
  display: inline-block;
}

body .window {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 36px 0;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body .window .form__wrapper-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .window .form__wrapper-img .form__attached-img {
  max-width: 50%;
}

body .window .form__wrapper-img .form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 40px 22px;
  max-width: 100%;
}

body .window .form__wrapper-img .form__top .textarea {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-left: 1px solid #E2DDDD;
  padding: 15px;
  height: 50px;
  width: 100%;
  outline: none;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  resize: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .window .form__wrapper-img .form__top .textarea::-webkit-input-placeholder {
  color: #E2DDDD;
}

body .window .form__wrapper-img .form__top .textarea:-ms-input-placeholder {
  color: #E2DDDD;
}

body .window .form__wrapper-img .form__top .textarea::-ms-input-placeholder {
  color: #E2DDDD;
}

body .window .form__wrapper-img .form__top .textarea::placeholder {
  color: #E2DDDD;
}

body .window .form__wrapper-img .form__top .textarea:focus {
  border-left: 1px solid #fff;
}

body .window .form__wrapper-img .form__top .textarea__wrapper {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 10px;
}

body .window .form__wrapper-img .form__top .form__file-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .window .form__wrapper-img .form__top .form__filename {
  background-color: #f7f7f7;
  border: 0;
  border-radius: 10px;
  padding: 14.25px 17.5px;
  color: #7051FF;
  font-size: 14px;
  line-height: 16px;
  margin-top: 36px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

body .window .form__wrapper-img .form__top .form__filename + .form__filename {
  margin-left: 10px;
}

body .window .form__wrapper-img .form__top .form__filename-title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

body .window .form__wrapper-img .form__top .form__filename-icon-wrapper {
  margin-right: 8px;
}

body .window .form__wrapper-img .form__top .form__filename-icon {
  width: 14px;
  margin-top: -2px;
}

body .window .form__wrapper-img .form__top .form__filename-icon-image {
  max-width: 50px;
  max-height: 40px;
}

body .window .form__wrapper-img .form__top .form__filename-delete {
  position: absolute;
  right: -6px;
  top: -6px;
  background: #f2f2f2;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

body .window .form__wrapper-img .form__top .button__open-text {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-bottom: auto;
  margin-top: 12px;
  outline: none;
}

@media (max-width: 991px) {
  body .window .form__wrapper-img .form__top .button__open-text {
    display: none;
  }
}

body .window .form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #F7F7F7;
  padding: 22px 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .window .form__bottom-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #dc3545 !important;
  padding: 22px 40px 0;
}

body .window .form__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .window .form__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991px) {
  body .window .form__bottom-right_desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  body .window .form__bottom-right_mobile {
    display: none;
  }
}

body .window .form__bottom-right .field__password {
  color: #E2DDDD;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #E2DDDD;
  border-radius: 10px;
  padding: 0 17px;
  width: 273px;
  max-width: 100%;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .window .form__bottom-right .field__password_disabled {
  background-color: rgba(239, 239, 239, 0.3);
}

body .window .form__bottom-right .field__password__input {
  border: none;
  outline: none;
  height: 100%;
  padding-left: 18px;
  background: transparent;
}

body .window .form__bottom-right .field__password-icon img {
  margin-top: -5px;
}

body .window .form__bottom .button__attachment {
  background-color: transparent;
  border: 1px solid #E2DDDD;
  border-radius: 10px;
  padding: 12.25px 17px;
  min-width: 59px;
  margin-right: 16px;
}

@media (max-width: 330px) {
  body .window .form__bottom .button__attachment {
    margin-right: 8px;
  }
}

body .window .form__bottom .button__attachment:last-child {
  margin-right: 0;
}

body .window .window__wrapper {
  padding: 10px 40px;
}

body .window .window__wrapper .link-to-message {
  font-size: 18px;
  line-height: 22px;
  color: #7051FF;
  border: 0;
  background-color: transparent;
  outline: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  padding: 0;
  margin-bottom: 42px;
  word-break: break-all;
}

body .window .window__wrapper .link-to-message__copy {
  cursor: pointer;
}

body .window .window__wrapper .link-to-message__copy img {
  width: 24px;
  margin-right: 18px;
  margin-bottom: 10px;
}

body .window .window__wrapper .qr {
  display: block;
  width: 250px;
  margin-top: 42px;
  margin-bottom: 44px;
}

body .window .form__socials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #F7F7F7;
  padding: 22px 40px 0;
}

body .window .form__socials-wrapper .button__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: 1px solid #E2DDDD;
  border-radius: 10px;
  padding: 10px;
  width: 53px;
  height: 53px;
  margin-right: 12px;
}

body .window .form__socials-wrapper .button__socials:last-child {
  margin-right: 0;
}

body .modal.modal-settings .modal-dialog {
  border-color: transparent;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

body .modal.modal-settings .modal-dialog .modal-content {
  height: 100%;
  width: 100%;
  background-color: #2E2E2E;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body {
  max-width: 317px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 62px;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 76px;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .modal__wrapper-title {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0;
  max-width: 85%;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .modal__wrapper .modal__close {
  background: transparent;
  border: 0;
  padding: 0;
  outline: none !important;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .ttl-selector-current {
  border: #585858;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .ttl-selector-current .ttl-selector-icon {
  border-right: 0;
  padding-right: 0;
  margin-right: 18px;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .ttl-selector-current .ttl-selector-text {
  color: #ffffff;
  margin-left: 0;
  margin-right: 18px;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .field__password {
  color: #E2DDDD;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #585858;
  border-radius: 10px;
  padding: 0 17px;
  width: 273px;
  max-width: 100%;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 18px;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .field__password__input {
  border: none;
  outline: none;
  height: 100%;
  padding-left: 18px;
  background-color: transparent;
  color: #ffffff;
}

body .modal.modal-settings .modal-dialog .modal-content .modal-body .field__password-icon img {
  margin-top: -5px;
}

body .button__submit {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #7051FF;
  border-radius: 10px;
  border: 0;
  padding: 18px 39px;
  margin-top: 36px;
}

body .footer {
  background-color: #ededed;
  padding: 48px 0;
  margin-top: auto;
}

@media (max-width: 991px) {
  body .footer {
    display: none;
  }
}

body .footer__col {
  padding: 20px 0;
}

body .footer__col.footer__col_last {
  padding-left: 50px;
}

body .footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #8E8E8E;
  text-transform: uppercase;
  margin-bottom: 34px;
}

@media (max-width: 991px) {
  body .footer__title {
    text-align: left;
  }
}

body .footer__title-copyright {
  font-size: 22px;
  line-height: 26px;
  color: #8E8E8E;
  margin-bottom: 22px;
}

@media (max-width: 991px) {
  body .footer__title-copyright {
    text-align: left;
  }
}

body .footer__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 18px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .3s;
  transition: .3s;
}

body .footer__link:hover {
  text-decoration: none;
}

body .footer__link:last-child {
  margin-bottom: 0;
}

body .footer__copyright {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 6px;
}

@media (max-width: 991px) {
  body .footer__copyright {
    text-align: left;
  }
}

body .footer__col-middle {
  padding: 20px 50px;
  border-left: 1px solid #E2DDDD;
  border-right: 1px solid #E2DDDD;
}

@media (max-width: 991px) {
  body .footer__col-middle {
    padding: 32px 0px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #E2DDDD;
    border-bottom: 1px solid #E2DDDD;
    margin-top: 12px;
    margin-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .footer__col-middle .footer__title {
  margin-left: 22px;
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  body .footer__col-middle .footer__title {
    margin-left: 0;
  }
}

body .footer__col-middle .footer__copy {
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  text-align: left;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 16px 26px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 991px) {
  body .footer__col-middle .footer__copy {
    padding: 0;
    border: 0 !important;
  }
}

body .footer__col-middle .footer__copy:hover {
  border: 1px solid #E2DDDD;
}

body .footer__col-middle .footer__copy-icon {
  margin-right: 18px;
  min-width: 26px;
  min-height: 26px;
}

body .footer__col-middle .footer__copy-icon img {
  margin-bottom: -21px;
}

.ttl-selector {
  background-color: transparent;
  border: 1px solid #E2DDDD;
  border-radius: 10px;
  padding: 12.25px 22px 12.25px 17px;
  margin-right: 16px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: none;
  min-width: 285px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ttl-selector_disabled {
  background-color: rgba(239, 239, 239, 0.3);
}

.ttl-selector-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ttl-selector.open .ttl-selector__list {
  display: block;
}

.ttl-selector-icon {
  display: inline-block;
  border-right: 1px solid #E2DDDD;
  padding-right: 14px;
  margin-right: 19px;
}

.ttl-selector-icon img {
  margin-top: -1px;
}

.ttl-selector-text {
  color: #412EA0;
  font-size: 16px;
  line-height: 19px;
  margin-right: auto;
}

.ttl-selector__list {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
  list-style: none;
  padding: 0;
  background: #fff;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
          box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
  border: solid 1px #f8f8f8;
  z-index: 1;
}

.ttl-selector__list-item {
  padding: 12.25px 22px 12.25px 17px;
  text-align: center;
}

button {
  outline: none !important;
  cursor: pointer;
}

button:focus {
  border-color: #acacac !important;
}

.modal-main .modal-backdrop {
  background: #fff;
  opacity: 0.9;
}

.modal-main .modal-dialog {
  border-color: transparent;
}

.modal-main .modal-content {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
          box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
  border: solid 1px #f8f8f8;
  background-color: #ffffff;
}

@media (min-width: 576px) {
  .modal-main .modal-dialog {
    width: 60%;
    max-width: 800px;
  }
}

.note-confirm-modal.modal-note {
  max-width: 889px;
  /* min-height: 533px; */
  margin: 0 auto;
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.note-confirm-modal.modal-note-centered {
  min-height: calc(100% - (.5rem * 2));
}

.note-confirm-modal.modal-note .note-confirm-modal__content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .note-confirm-modal.modal-note .note-confirm-modal__content {
    padding: 80px;
  }
}

@media (min-width: 576px) {
  .note-confirm-modal.modal-note .note-confirm-modal__content {
    padding: 30px;
  }
}

.note-confirm-modal.modal-note .modal-content {
  border: 0;
  border-radius: 0;
  background-color: #fff !important;
  height: auto !important;
}

.note-confirm-modal.modal-note .modal-content .modal-body {
  padding: 50px 48px;
  -webkit-box-shadow: 0px 0px 40px rgba(18, 28, 51, 0.05);
          box-shadow: 0px 0px 40px rgba(18, 28, 51, 0.05);
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100% !important;
}

@media (max-width: 991) {
  .note-confirm-modal.modal-note .modal-content .modal-body {
    margin: 0 32px;
  }
}

@media (max-width: 576px) {
  .note-confirm-modal.modal-note .modal-content .modal-body {
    padding: 80px 32px;
  }
}

.note-confirm-modal.modal-note .note-confirm-modal__header {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  color: #000;
}

.note-confirm-modal.modal-note .note-confirm-modal__header_mb-0 {
  margin-bottom: 0;
}

.note-confirm-modal.modal-note .note-confirm-modal__button {
  margin-top: 0 !important;
}

@media (max-width: 490px) {
  .note-confirm-modal.modal-note .note-confirm-modal__button {
    width: 100%;
    margin-bottom: 16px;
  }
  .note-confirm-modal.modal-note .note-confirm-modal__button:last-child {
    margin-bottom: 0;
  }
}

.note-confirm-modal.modal-note .note-confirm-modal__read-button {
  margin-right: 23px;
}

@media (max-width: 767px) {
  .note-confirm-modal.modal-note .note-confirm-modal__read-button {
    margin-right: 16px;
  }
}

.note-confirm-modal.modal-note .note-confirm-modal__later-button {
  font-size: 18px;
  line-height: 22px;
  color: #412ea0;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #412ea0;
  padding: 18px 39px;
}

#confirm-modal___BV_modal_outer_ .modal-backdrop {
  background-color: #fff;
  opacity: .9;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25rem solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: .2em;
}

.drag-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 46, 0.5);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .35s;
  transition: all .35s;
  border-radius: 20px;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */