$purple : #412EA0;
$brightPurple : #7051FF;
$grey : #E2DDDD;

@import 'toast';

@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
  url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #F7F7F7;
  color: $purple;
  font-family: Gilroy;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
  .container {
    margin-bottom: 74px;
    @media (min-width: 1150px) {
      max-width: 1088px;
    }
    @media (max-width: 991px) {
      position: relative;
    }
    @media (max-width: 575px) {
      margin-bottom: 45px;
    }
  }
  // mobile menu
  nav {
    padding-top: 52px;
    margin-bottom: 32px;
    @media (max-width: 575px) {
      padding-top: 45px;
    }
    .header__logo {
      @media (max-width: 991px) {
        font-size: 22px;
        line-height: 26px;
      }
      @media (max-width: 575px) {
        margin-left: 9px; 
        padding-top: 0px;
      }
    }
    .container-ham {
      position: absolute;
      //width: 100%;
      //height: 100%;
      text-align: center;
      top: 40%;
      left: 0;
      margin: 0 auto;
      z-index: 6;
      .overlay {
        position: fixed;
        background: #EDEDED;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        &.open {
          opacity: 1;
          visibility: visible;
          height: 100%;
          z-index: 3;
          overflow-y: hidden !important;
          li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;
          }
        }
        .overlay-menu {
          position: relative;
          height: 80%;
          top: 47%;
          transform: translateY(-50%);
          font-size: 50px;
          text-align: center;
          @media (max-width: 575px) {
            top: 50%;
          }
          @media (max-width: 413px) {
            top: 48%;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            height: 100%;
            li {
              display: block;
              height: 9%;
              min-height: 50px;
              position: relative;
              opacity: 0;
              a {
                display: block;
                position: relative;
                color: #FFF;
                text-decoration: none;
                overflow: hidden;
                padding-bottom: 15px;
                :before {
                  content: '';
                  width: 0;
                  height: 5px;
                  border-radius: 4px;
                  background-color: #fc5e31;
                  transform-origin: left;
                  position: absolute;
                  bottom: 3px;
                  left: 50%;
                  transform: translateX(-50%);
                  transition: .3s;
                }
                &.active:before {
                  width: 49px;
                }
                &:hover:after, &:focus:after, &:active:after {
                  width: 100%;
                }
                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  width: 0%;
                  transform: translateX(-50%);
                  height: 1px;
                  background: #FFF;
                  transition: .35s;
                }
              }
            }
          }
        }
        @keyframes fadeInRight {
          0% {
            opacity: 0;
            left: 20%;
          }
          100% {
            opacity: 1;
            left: 0;
          }
        }
      }
    }

    .button_container {
      position: absolute;
      top: 56px;
      right: 15px;
      height: 20px;
      width: 25px;
      cursor: pointer;
      z-index: 1000;
      transition: opacity .25s ease;
      @media (max-width: 575px) {
        right: 24px;
        top: 48px;
      }
      &:hover {
        opacity: 1;
      }
      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: -14px;
      //   left: -11px;
      //   width: 46px;
      //   height: 46px;
      //   box-shadow: 0 4px 19px rgba(226, 226, 226, 0.4);
      //   background-color: #1C2129;
      //   border-radius: 50%;
      //   background-color: #202020;
      //   opacity: .9;
      // }
      &.active-btn .top {
        transform: translateY(7px) translateX(0) rotate(-45deg);
      }
      &.active-btn .middle {
        opacity: 0;
      }
      &.active-btn .bottom {
        transform: translateY(-9px) translateX(0) rotate(45deg);
        width: 100%;
      }
      span {
        background: $purple;
        border: none;
        height: 3px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
        &:nth-of-type(2) {
          top: 8px;
        }
        &:nth-of-type(3) {
          top: 16px;
          right: 0;
          left: auto;
        }
      }
    }
  }
  
  .header__row {
    justify-content: space-between;
    margin-bottom: 34px;
    padding-top: 28px;
    margin-left: 0;
    margin-right: 0;
    .header {
      &__logo {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0;
        display: inline-block;
      }
      &__right {
        display: flex;
        max-width: 100%;
        .header__trust {
          font-size: 14px;
          line-height: 17px;
          border: 1px solid $grey;
          border-radius: 5px;
          padding: 8.5px 10px;
          margin-left: 32px;
          display: inline-block;
        }
      }
    }
  }
  .window {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 36px 0;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .form {
      &__wrapper-img {
        display: flex;
        height: 100%;
        flex: 1;
        //margin-right: 64px;
        //margin-left: 40px;
        .form__attached-img {
          max-width: 50%;
        }
        .form__top {
          display: flex;
          justify-content: space-between;
          flex: 1;
          padding: 0 40px 22px;
          max-width: 100%;

          .textarea {
            color: #000;
            font-size: 18px;
            line-height: 22px;
            border: 0;
            border-left: 1px solid $grey;
            padding: 15px;
            height: 50px;
            width: 100%;
            // resize: none;
            outline: none;
            position: relative;
            //overflow: hidden;
            transition: .3s;
            resize: none;
            flex: 1;
            &::placeholder {
              color: $grey;
            }
            &:focus {
              border-left: 1px solid #fff;
            }
            &__wrapper {
              width: 100%;
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: baseline;
              padding-right: 10px;
            }

            a.link {
              color: #007bff !important;
              cursor: pointer;
            }
            
            // &::before {
            //   content: '';
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   width: 1px;
            //   height: 50px;
            //   background-color: $grey;
            // }
          }
          .form__file-list {
            display: flex;
            flex-wrap: wrap;
            margin-top: auto;
          }
          .form__filename {
            background-color: #f7f7f7;
            border: 0;
            border-radius: 10px;
            padding: 14.25px 17.5px;
            color: $brightPurple;
            font-size: 14px;
            line-height: 16px;
            margin-top: 36px;
            position: relative;
            display: flex;
            align-items: center;
            max-width: 400px;

            & + .form__filename {
              margin-left: 10px;
            }

            &-title {
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
              display: inline-block;
            }

            &-icon-wrapper {
              margin-right: 8px;
            }
            &-icon {
              width: 14px;
              margin-top: -2px;
            }

            &-icon-image {
              max-width: 50px;
              max-height: 40px;
            }

            &-delete {
              position: absolute;
              right: -6px;
              top: -6px;
              background: #f2f2f2;
              border-radius: 10px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
          .button__open-text {
            background-color: transparent;
            border: 0;
            padding: 0;
            margin-bottom: auto;
            margin-top: 12px;
            outline: none;
            @media (max-width: 991px) {
              display: none;
            }
          }

        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #F7F7F7;
        padding: 22px 40px 0;
        flex-wrap: wrap;

        &-error {
          display: flex;
          color: #dc3545!important;
          padding: 22px 40px 0;
        }

        &-left {
          display: flex;
        }
        &-right {
          display: flex;
          flex-wrap: wrap;
          margin-left: auto;
          &_desktop {
            @media (max-width: 991px) {
              display: none;
            }
          }
          &_mobile {
            @media (min-width: 992px) {
              display: none;
            }
          }
          .field__password {
            color: $grey;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
            background-color: transparent;
            border: 1px solid $grey;
            border-radius: 10px;
            padding: 0 17px;
            width: 273px;
            max-width: 100%;
            min-height: 51px;
            display: flex;
            align-items: center;

            &_disabled {
              background-color: rgba(239, 239, 239, 0.3);
            }

            &__input {
              border: none;
              outline: none;
              height: 100%;
              padding-left: 18px;
              background: transparent;
            }

            &-icon {
              //margin-right: 18px;
              img {
                margin-top: -5px;
              }
            }
          }
        }

        .button__attachment {
          background-color: transparent;
          border: 1px solid $grey;
          border-radius: 10px;
          padding: 12.25px 17px;
          min-width: 59px;
          margin-right: 16px;
          @media (max-width: 330px) {
            margin-right: 8px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    // page qr-code
    .window__wrapper {
      padding: 10px 40px;
      &_note-created {
        @media (min-width: 992px) {
          display: flex;
          justify-content: space-between;
        }
      }
      .link-to-message {
        font-size: 18px;
        line-height: 22px;
        color: $brightPurple;
        border: 0;
        background-color: transparent;
        outline: none;
        display: block;
        width: fit-content;
        max-width: 100%;
        padding: 0;
        margin-bottom: 20px;
        word-break: break-all;
        display: flex;

        &__copy {
          cursor: pointer;

          img {
            width: 24px;
            min-width: 24px;
            margin-right: 18px;
            margin-bottom: -10px;
          }
        }
        &__wrapper {
          @media (max-width: 767px) {
            max-width: 86%;
          }
          .link-to-message__type {
            font-size: 10px;
            line-height: 12px;
            color: #e2dddd;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 3px;
          }
          .link-to-message__password, .link-to-message__router {
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            word-break: keep-all;
          }
        }
      }
      .qr {
        display: block;
        width: 250px;
        margin-top: 42px;
        margin-bottom: 44px;
      }
    }
    .form__socials-wrapper {
      display: flex;
      // justify-content: space-between;
      border-top: 1px solid #F7F7F7;
      padding: 22px 40px 0;
      // display: flex;
      .button__socials {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 10px;
        padding: 10px;
        width: 53px;
        height: 53px;
        margin-right: 12px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  
  // modal setting mobile
  .modal.modal-settings {
          
    .modal-dialog {
      border-color: transparent;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: 0;
      .modal-content {
        height: 100%;
        width: 100%;
        // box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
        background-color: #2E2E2E;
        .modal-body {
          // background-color: #2E2E2E;
          max-width: 317px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 62px;
          // margin-top: auto;
          // margin-bottom: auto;
          // flex: none;
          // height: 100%;
          .modal__wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 76px;
            &-title {
              color: #ffffff;
              font-size: 22px;
              line-height: 26px;
              margin-bottom: 0;
              max-width: 85%;
            }
            .modal__close {
              background: transparent;
              border: 0;
              padding: 0;
              outline: none!important;
            }
          }
          .ttl-selector-current {
            border: #585858;
            .ttl-selector-icon {
              border-right: 0;
              padding-right: 0;
              margin-right: 18px;
            }
            .ttl-selector-text {
              color: #ffffff;
              margin-left: 0;
              margin-right: 18px;
            }
          }
          .field__password {
            color: $grey;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
            background-color: transparent;
            border: 1px solid #585858;
            border-radius: 10px;
            padding: 0 17px;
            width: 273px;
            max-width: 100%;
            min-height: 51px;
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 18px;

            &__input {
              border: none;
              outline: none;
              height: 100%;
              padding-left: 18px;
              background-color: transparent;
              color: #ffffff;
            }

            &-icon {
              //margin-right: 18px;
              img {
                margin-top: -5px;
              }
            }
          }
        }
      }
    }
  }

  .button__submit {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    background-color: $brightPurple;
    border-radius: 10px;
    border: 0;
    padding: 18px 39px;
    margin-top: 36px;

    &_link {
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }

    &_transparent {
      background: transparent;
      color: #7051FF;
      border: 2px solid #7051FF;
      margin-left: 15px;
      padding-top: 16px;
      padding-bottom: 16px;

      &:disabled {
        background: rgb(232, 232, 232);
        border: none;
        cursor: default;
      }
    }
  }
  .footer {
    background-color: #ededed;
    padding: 48px 0;
    margin-top: auto;
    @media (max-width: 991px) {
      display: none;
    }
    &__col {
      padding: 20px 0;
      &.footer__col_last {
        padding-left: 50px;
      }
    }
    &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: #8E8E8E;
      text-transform: uppercase;
      margin-bottom: 34px;
      @media (max-width: 991px) {
        text-align: left;
      }
    }
    &__title-copyright {
      font-size: 22px;
      line-height: 26px;
      color: #8E8E8E;
      margin-bottom: 22px;
      @media (max-width: 991px) {
        text-align: left;
      }
    }
    &__link {
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 18px;
      display: block;
      width: fit-content;
      transition: .3s;
      &:hover {
        text-decoration: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__copyright {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 6px;
      @media (max-width: 991px) {
        text-align: left;
      }
    }
    &__col-middle {
      padding: 20px 50px;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      @media (max-width: 991px) {
        padding: 32px 0px;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        margin-top: 12px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
      }
      .footer__title {
        margin-left: 22px;
        margin-bottom: 14px;
        @media (max-width: 991px) {
          margin-left: 0;
        }
      }
      .footer__copy {
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        text-align: left;
        border: 1px solid #ededed;
        border-radius: 10px;
        padding: 16px 26px;
        background-color: transparent;
        display: inline-flex;
        transition: .3s;
        @media (max-width: 991px) {
          padding: 0;
          border: 0!important;
        }
        &:hover {
          border: 1px solid $grey;
        }
        &-icon {
          margin-right: 18px;
          min-width: 26px;
          min-height: 26px;
          img {
            margin-bottom: -21px;
          }
        }
      }
    }
  }
}

.ttl-selector {
  background-color: transparent;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 12.25px 22px 12.25px 17px;
  margin-right: 16px;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  min-width: 285px;
  flex-wrap: wrap;

  &_disabled {
    background-color: rgba(239, 239, 239, 0.3);
  }

  &-current {
    display: flex;
    align-items: center;
  }

  &.open .ttl-selector__list {
    display: block;
  }
  &-icon {
    display: inline-block;
    border-right: 1px solid $grey;
    padding-right: 14px;
    margin-right: 19px;
    // height: 26px;
    img {
      margin-top: -1px;
    }
  }
  &-text {
    color: $purple;
    font-size: 16px;
    line-height: 19px;
    margin-right: auto;
  }
  &__list {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    list-style: none;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
    border: solid 1px #f8f8f8;
    z-index: 1;

    &-item {
      padding: 12.25px 22px 12.25px 17px;
      text-align: center;
    }
  }
}

button {
  outline: none !important;
  cursor: pointer;

  &:focus {
    border-color: #acacac !important;
  }
}

.modal-main {
  .modal-backdrop {
    background: #fff;
    opacity: 0.9;
  }
  
  .modal-dialog {
    border-color: transparent;
  
  }
  .modal-content {
    border-radius: 20px;
    box-shadow: 0 0 40px 0 rgba(86, 110, 149, 0.16);
    border: solid 1px #f8f8f8;
    background-color: #ffffff;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      width: 60%;
      max-width: 800px;
    }
  }
}

.note-confirm-modal.modal-note {
  max-width: 889px;
    /* min-height: 533px; */
    margin: 0 auto;
    transform: translate(0,0)!important;
    &-centered {
      min-height: calc(100% - (.5rem * 2));
    }

  .note-confirm-modal__content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
      & {
        padding: 80px;
      }
    }
    @media (min-width: 576px) {
      & {
        padding: 30px;
      }
    }
  }
  .modal-content {
    border: 0;
    border-radius: 0;
    background-color: #fff!important;
    height: auto!important;
    .modal-body {
      padding: 50px 48px;
      box-shadow: 0px 0px 40px rgba(18, 28, 51, 0.05);
      border-radius: 20px;
      position: relative;
      display: flex;
      align-items: center;
      max-width: 100%!important;
      
      @media (max-width: 991) {
        margin: 0 32px;
      }
      @media (max-width: 576px) {
        padding: 80px 32px;
      }
    }
  }

  .note-confirm-modal__header {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #000;

    &_mb-0 {
      margin-bottom: 0;
    }
  }

  .note-confirm-modal__button {
    // min-width: 200px;
    margin-top: 0 !important;

    @media (min-width: 576px) {
      // min-width: 200px;
    }
    @media (max-width: 490px) {
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .note-confirm-modal__read-button {
    margin-right: 23px;
    @media (max-width: 767px) {
      margin-right: 16px;
    }
  }

  .note-confirm-modal__later-button {
    font-size: 18px;
    line-height: 22px;
    color: #412ea0;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #412ea0;
    padding: 18px 39px;
  }
}
#confirm-modal___BV_modal_outer_ {
  .modal-backdrop {
    background-color: #fff;
    opacity: .9;
  }
}


@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25rem solid currentColor;
  border-right-color: transparent;
  // stylelint-disable-next-line property-disallowed-list
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: .2em;
}

.drag-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 46, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .35s;
  border-radius: 20px;
  color: #fff;

}

.crypto-address {
  padding: 5px;
  background: rgba(204, 204, 204, 0.6);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  position: relative;

  .crypto-popover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 500px;
  }

  &:hover .crypto-popover {
    display: block;
  }
}

.note-html-content {
  font-size: 18px;
  max-width: 100%;
  word-break: break-all;
}

.note-html-content a,
a.note-popover-link {
  color: #007bff !important;
}

.note-actions {
  display: flex;
  flex-direction: column;

  &_right-bar {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &_bottom-bar {
    margin-left: auto;

    .button__note-action {
      margin-left: 15px;
      margin-bottom: 0;
    }

  }
}

.button__note-action {
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  margin-bottom: 15px;
}
